body, ul, li, p {
	margin: 0px;
	padding: 0px;
	list-style: none;
	font-size: 1.2rem;
	font-family: sans-serif;
}

a {
	text-decoration: none;
	color: darkred;
}

.header {
	background: #1c1c1c;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding: 20px;
	align-items: center;
	margin-top: 10px;
}

.menu {
	display: flex;
}

.menu li {
	margin-left: 10px;
}

.menu li a {
	display: block;
	padding: 5px;

}

.menu li a:hover{
	color: rebeccapurple;
}

h1 p {

	text-align: center;
	margin: 10px;
	font-size: 30px;

}

h1 p a:hover{

	color: rebeccapurple;
}

img {
	max-height: 100%;
	display: block;
	border: 5px solid rebeccapurple;
}

.flex {

	display: flex;
	flex-wrap: wrap;
	max-height: 800px;
	margin: 0 auto;
}

.flex > div {
	flex: 1 1 200px;
	margin: 10px;
}

.banda {
	display: flex;
	background: darkred;

}

.banda ul  {
	margin-left: 10px;
}

.banda li {
	margin-left: 10px;

}

table {
	text-align: center;
	margin-left: 550px;
}

form{

	border: 2px solid darkred;
	font-size: center;
	margin-top: 5px;

}

